<!-- Hamburger Menu -->
<div id="hamburger-menu">
<button id="menu-toggle">
	<!-- Hamburger Icon -->
	<span></span>
	<span></span>
	<span></span>
</button>
<div id="menu-items" class="hidden">
	<a href="{{ '/' | relative_url }}">Home</a>
	<a href="{{ site.baseurl }}/portfolio/">Portfolio</a>
	<a href="{{ '/blogs-and-interests/' | relative_url }}">Blogs and Interests</a>
	<a href="{{ '/' | relative_url }}#four">Contact Me</a>
	<a href="{{ '/about-me/' | relative_url }}">About Me</a>
</div>
</div>