<!DOCTYPE HTML>

<html lang="en">
	<head>
		<title>{{ page.title | escape }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
        <script>
            document.addEventListener( 'DOMContentLoaded', function () {
              new Splide( '#image-slider' ).mount();
            } );
          </script>		
	</head>
	<body class="{% if page.url == '/about-me/' %}about-me{% endif %}">
		{% include burger_menu.html %}
		
		<!-- Main Content -->
		<div class="wrapper">
			<div class="inner">
				<h1>{{ page.title }}</h1>
				<div class="content">
					{{ content }}
				</div>
			</div>
		</div>
<!--https://splidejs.com/v3/tutorials/image-slider/--> <!-- splide added to .css file too. -->
        <div id="image-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img src="{{ '/assets/media/thumbs/BlogAssets/Images/Military_Ribbons.png' | relative_url }}">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ '/assets/media/thumbs/BlogAssets/Images/Military_Medals.png' | relative_url }}">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ '/assets/media/thumbs/BlogAssets/Images/Military_Ribbons.png' | relative_url }}">
                    </li>
                </ul>
            </div>
        </div>


	</body>
</html>
