<!DOCTYPE HTML>
<!--
  _layouts/portfolio.html
  Full Portfolio gallery page.
-->
<html lang="en">
  <head>
    <title>{{ page.title | escape }} | Brock Akerman</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.description | default: site.description }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/featured-tiles.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/portfolio-page.css' | relative_url }}" />
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
  </head>

  <body>
    {% include burger_menu.html %}

    <div id="portfolio-page">
      {{ content }}
    </div>

    {% include footer.html %}

    <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/jquery.poptrox.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/skel.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/util.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <script>
      document.getElementById('menu-toggle').addEventListener('click', function () {
        const menuItems = document.getElementById('menu-items');
        menuItems.classList.toggle('visible');
      });
    </script>
  </body>
</html>
